/*{"name":"TidalTweaks","author":"ameiw","description":"Adds a few theming tweaks, including slight borders around text and blurring album backdrops."}*/

:root {
    text-shadow: 0px 0px 5px rgb(var(--cover-DarkMuted), 1);
}

.artist-link, .wave-text-description-demi {
    letter-spacing: 0.04em;
    font-weight: 600;
}

.quality-tag-container {
	height: 36px !important;
    width: full;
    min-width: max-content;
    margin-left: 0.25rem;
}

.quality-tag {
    background-color: rgb(var(--cover-DarkMuted), 0.5) !important;
    border: 1px solid #222c;
    box-shadow: 0px 0px 2px rgb(var(--cover-DarkVibrant), 0.5);
    color: rgb(var(--cover-LightVibrant), 1) !important;
    margin: 6px;
    opacity: .8;
}

.ALBUM_HEADER>div>div>div::before {
    filter: blur(1.5rem);
    background-image: linear-gradient(168deg,rgba(var(--cover-LightVibrant),1) 40%,rgba(var(--cover-Vibrant),4) 100%),var(--img);
    scale: 120%
}

div>[class^=smallHeader] {
    background-image: linear-gradient(180deg,rgba(var(--cover-DarkVibrant),1) 0,rgba(0,0,0,0) 10%);
    background-color: transparent;
    background-size: cover
}

div>[class^=smallHeader]::before {
    background-blend-mode: difference;
    background-image: linear-gradient(168deg,rgba(var(--cover-LightVibrant),.3) 40%,rgba(var(--cover-DarkVibrant),.1) 100%),var(--img);
    background-color: rgba(var(--color-DarkVibrant),0);
    backdrop-filter: blur(30px);
    filter: blur(50px)
}

@container (width > 200px) {
    a>[class^=shortcutItem]::after {
        backdrop-filter: blur(10px);
    }
}

/* add bottom padding on the main content container */
[class="for-cypress__react-router--loaded"] {
    padding-bottom: 6rem;
}

.bitInfo {
    line-clamp: 2;
    -webkit-line-clamp: 2;
    text-align: right !important;
    color: color-mix(in oklab, rgb(var(--cover-LightMuted, 180,180,180)), rgb(180,180,180) 90%);
    max-width:128px !important;
    width: min-content;
    min-width:85px;
}
